# Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
!terraform.tfvars.example

# Google Cloud credentials
.gcloud/
*.json
application_default_credentials.json

# Local .env files
.env
.env.local

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Editor specific
.vscode/
.idea/
*.swp
*.swo
