# -------------------- Project Variables --------------------
project_id = "your-project-id"
terraform_sa = "terraform-admin@your-project-id.iam.gserviceaccount.com"
region = "us-central1"
environment = "production"

# -------------------- Registry Variables --------------------
registry_project = "sync-to-cloud-registry"
registry_region = "us-central1"
repository_name = "sync-to-cloud-app"

# -------------------- Image Variables --------------------
api_image_name = "sync-to-cloud-api"
ui_image_name = "sync-to-cloud-ui"
worker_image_name = "sync-to-cloud-worker"

# -------------------- API/Service Configuration --------------------
workspace_admin_user_email = "admin@yourdomain.com"

# -------------------- BigQuery Configuration --------------------
bigquery_project_id = "your-project-id"
bigquery_dataset = "drive_inventory_report"
bigquery_table = "inventory"